client.json
youtube_vids
.history
tf_record.py
test.py
youtube_tfrecords
res/frames
res/resized
res/info
video.avi
torch_datasets
client_id.json
client_secrets.json
gdrive.py
params
/torch_datasets/MNIST
.ipynb_checkpoints
ssh_keys
